In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
gkey = "AIzaSyAznbPG8Rt--oYhq9x8-2stwbqBO_Egdx0"

In [6]:
# Import cities file into the cities_pd DataFrame
file_one = "cities.csv"
cities_pd = pd.DataFrame()
cities_pd = pd.read_csv(file_one, encoding = "ISO-8859-1")
cities_pd.head()

           City         State
0      New York      New York
1   Los Angeles    California
2       Chicago      Illinois
3       Houston         Texas
4  Philadelphia  Pennsylvania

In [7]:
# Add columns for lat, lng, airport name, airport address, airport rating.
# Hint: Be sure to specify "" as the initial value for each column.
cities_pd["Lat"] = ""
cities_pd["Lng"] = ""
cities_pd["Address"] = ""
cities_pd["Rating"] = ""

cities_pd.head()

           City         State Lat Lng Address Rating
0      New York      New York
1   Los Angeles    California
2       Chicago      Illinois
3       Houston         Texas
4  Philadelphia  Pennsylvania

In [10]:
# Loop through the cities_pd and get the lat/long for each city
# Hint: `requests.get(target_url).json()`
# Hint: `for index, row in cities_pd.iterrows():`
# Hint: `cities_pd.set_value()`

In [8]:
# Use the lat/lng we recovered to identify airports
# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings

In [9]:
# Save Data to csv


# Visualize to confirm airport data appears
cities_pd

Empty DataFrame
Columns: []
Index: []