In [8]:
# Dependencies
import csv
import matplotlib.pyplot as plt
import openweathermapy as ow
import pandas as pd

In [9]:
# Create a settings object with your API key and preferred units
api_key = "25bc90a1196e6f153eece0bc0b0fc9eb"
settings = {"units": "metric", "appid": api_key}

In [10]:
# Get data for each city in cities.csv
weather_data = []
with open("../Resources/cities.csv") as cities:
    cities = csv.reader(cities)
    cities = [city[0] for city in cities]
    weather_data = [ow.get_current(city, **settings) for city in cities]

In [11]:
# Create an "extracts" object to get the temperature, latitude,
# and longitude in each city
summary = ["main.temp", "coord.lat", "coord.lon"]

# Create a Pandas DataFrame with the results
data = [response(*summary) for response in weather_data]

column_names = ["Temperature", "Latitude", "Longitude"]
weather_data = pd.DataFrame(data, index=cities, columns=column_names)
weather_data

             Temperature  Latitude  Longitude
Paris              12.71     48.85       2.35
London             10.98     51.51      -0.13
Oslo                7.00     59.91      10.75
Beijing            12.00     39.91     116.40
Moscow              7.67     55.75      37.62
Vladivostok         0.00     43.11     131.87
Osaka              11.00     35.95     137.27
Honolulu           28.99     21.31    -157.86
Montevideo         17.00    -34.83     -56.17
Erbil              13.00     36.19      44.01