In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Name of the CSV file
file = 'donors2008.csv'

In [3]:
# The correct encoding must be used to read the CSV in pandas
df = pd.read_csv(file, encoding = "ISO-8859-1")

FileNotFoundError: File b'donors2008.csv' does not exist

In [4]:
# Preview of the DataFrame
# Note that FIELD8 is likely a meaningless column
df.head()

NameError: name 'df' is not defined

In [5]:
# Delete extraneous column
del df['FIELD8']
df.head()

  LastName FirstName          Employer      City State    Zip  Amount
0    Aaron    Eugene  State Department    Dulles    VA  20189   500.0
1    Abadi   Barbara       Abadi & Co.  New York    NY  10021   200.0
2  Adamany   Anthony           Retired  Rockford    IL  61103   500.0
3    Adams  Lorraine              Self  New York    NY  10026   200.0
4    Adams    Marion              None    Exeter    NH  03833   100.0

In [7]:
# Identify incomplete rows
df.count()

LastName     1776
FirstName    1776
Employer     1743
City         1776
State        1776
Zip          1776
Amount       1776
dtype: int64

In [8]:
# Drop all rows with missing information
df = df.dropna(how='any')

In [9]:
# Verify dropped rows
df.count()

LastName     1743
FirstName    1743
Employer     1743
City         1743
State        1743
Zip          1743
Amount       1743
dtype: int64

In [2]:
# The Amount column is the wrong data type. It should be numeric.
df.dtypes

NameError: name 'df' is not defined

In [1]:
# Use pd.to_numeric() method to convert the datatype of the Amount column
df['Amount'] = pd.to_numeric(df['Amount'])

NameError: name 'pd' is not defined

In [13]:
# Verify that the Amount column datatype has been made numeric
df['Amount'].dtype

dtype('float64')

In [14]:
# Display an overview of the Employers column
df['Employer'].value_counts()

None                                        249
Self                                        241
Retired                                     126
Self Employed                                39
Self-Employed                                34
Google                                        6
Not Employed                                  4
Unemployed                                    4
Social Security Administration                3
University of California                      3
Bank Of America                               3
Davis Polk & Wardwell                         2
Northern Trust                                2
Rainey Cluss LLC                              2
Newton Public Schools                         2
Berger & Montague                             2
Mayer Brown LLP                               2
University Of Michigan                        2
Hugo Neu Corporation                          2
State Department                              2
University Hospital                           2
UCLA                                          2
Covington & Burling                           2
University of Michigan                        2
Sidley Austin LLP                             2
University of Washington                      2
Jones Day                                     2
Kaiser Permanente                             2
Ariel Investments                             2
Skadden, Arps                                 2
                                           ...
Level 3 Communications                        1
Natural Health Technologies, Inc              1
Brigham and Women's Hospital                  1
Help/Systems                                  1
Colorado Permanente Medical Group             1
Houston Independent School District           1
IT Enterprise Architect                       1
Weinstein Jones                               1
Allen And Company                             1
Miller, Canfield, Paddock And Stone, Plc      1
University Of Minnesota                       1
First Presbyterian Church Of Waltham          1
Flexpoint Ford, LLC                           1
Olmsted Medical Center                        1
Capital Group Companies                       1
The Sentinel HS Group, LLC                    1
Prince George'S County Government/Admin       1
Oak Park Township Part Time                   1
On Disability From Huntingtons Disease        1
L. Padnos Iron & Metal Company                1
US Dept State                                 1
Community Educational Center                  1
Park University                               1
Paddock Publishing, Inc                       1
Advocate Illinois Masonic Medical Center      1
Hepler Broom                                  1
Morrison & Foerster                           1
Lucasfilm                                     1
DoD                                           1
Council For Excellence In Government          1
Name: Employer, dtype: int64

In [15]:
# Clean up Employer category. Replace 'Self Employed' and 'Self' with 'Self-Employed'
df['Employer'] = df['Employer'].replace({'Self Employed':'Self-Employed', 'Self': 'Self-Employed'})

In [16]:
# Verify clean-up. 
df['Employer'].value_counts()

Self-Employed                               314
None                                        249
Retired                                     126
Google                                        6
Unemployed                                    4
Not Employed                                  4
Bank Of America                               3
University of California                      3
Social Security Administration                3
Hugo Neu Corporation                          2
Covington & Burling                           2
Mayer Brown LLP                               2
Federal Government                            2
University Of Michigan                        2
UCLA                                          2
University of Michigan                        2
CSC                                           2
Sidley Austin LLP                             2
Freelance                                     2
Ariel Investments                             2
State Department                              2
University Hospital                           2
Harvard University                            2
University of Washington                      2
Davis Polk & Wardwell                         2
United Health Group                           2
Berger & Montague                             2
Microsoft                                     2
LMI                                           2
Jones Day                                     2
                                           ...
Natural Health Technologies, Inc              1
Prince George'S County Government/Admin       1
Capital Group Companies                       1
Fox Sports                                    1
Help/Systems                                  1
Colorado Permanente Medical Group             1
Houston Independent School District           1
IT Enterprise Architect                       1
Weinstein Jones                               1
Allen And Company                             1
Miller, Canfield, Paddock And Stone, Plc      1
University Of Minnesota                       1
First Presbyterian Church Of Waltham          1
Flexpoint Ford, LLC                           1
Olmsted Medical Center                        1
Brigham and Women's Hospital                  1
DoD                                           1
The Sentinel HS Group, LLC                    1
Oak Park Township Part Time                   1
On Disability From Huntingtons Disease        1
L. Padnos Iron & Metal Company                1
US Dept State                                 1
Community Educational Center                  1
Park University                               1
Paddock Publishing, Inc                       1
Advocate Illinois Masonic Medical Center      1
Hepler Broom                                  1
Morrison & Foerster                           1
Lucasfilm                                     1
Council For Excellence In Government          1
Name: Employer, dtype: int64

In [17]:
df['Employer'] = df['Employer'].replace({'Not Employed': 'Unemployed'})
df['Employer'].value_counts()

Self-Employed                               314
None                                        249
Retired                                     126
Unemployed                                    8
Google                                        6
Social Security Administration                3
Bank Of America                               3
University of California                      3
Berger & Montague                             2
Northern Trust                                2
Hugo Neu Corporation                          2
Mayer Brown LLP                               2
Covington & Burling                           2
University Of Michigan                        2
UCLA                                          2
University of Michigan                        2
Google, Inc.                                  2
Sidley Austin LLP                             2
CSC                                           2
Newton Public Schools                         2
State Department                              2
University Hospital                           2
LMI                                           2
Jones Day                                     2
Microsoft                                     2
United Health Group                           2
Rainey Cluss LLC                              2
Davis Polk & Wardwell                         2
Ariel Investments                             2
Freelance                                     2
                                           ...
Level 3 Communications                        1
Natural Health Technologies, Inc              1
Capital Group Companies                       1
Fox Sports                                    1
Help/Systems                                  1
Colorado Permanente Medical Group             1
Houston Independent School District           1
IT Enterprise Architect                       1
Weinstein Jones                               1
Allen And Company                             1
Miller, Canfield, Paddock And Stone, Plc      1
University Of Minnesota                       1
First Presbyterian Church Of Waltham          1
Flexpoint Ford, LLC                           1
Olmsted Medical Center                        1
Brigham and Women's Hospital                  1
Prince George'S County Government/Admin       1
The Sentinel HS Group, LLC                    1
Oak Park Township Part Time                   1
L. Padnos Iron & Metal Company                1
US Dept State                                 1
Community Educational Center                  1
Park University                               1
Paddock Publishing, Inc                       1
Advocate Illinois Masonic Medical Center      1
Hepler Broom                                  1
Morrison & Foerster                           1
Lucasfilm                                     1
DoD                                           1
Council For Excellence In Government          1
Name: Employer, dtype: int64

In [89]:
# Display a statistical overview
# We can infer the maximum allowable individual contribution from 'max'
df.describe()

            Amount
count  1743.000000
mean    640.124750
std    1242.343265
min       5.000000
25%     200.000000
50%     250.000000
75%     500.000000
max    5000.000000